<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFVhelper</title>
</head>
<body> 
    <h1>SFVhelper</h1>

    <a href="/characterSelect"><h2>Go to character select</h2></a>

    <h3>Notation</h3>
    <ul>
        <li>p stands for punch, will be preceded by l, m, or h meaning light medium or heavy. mp means medium punch</li>
        <li>k stands for kick, will be preceded by l, m, or h meaning light medium or heavy. mk means medium kick</li>
        <li>A c. before the button means crouching. c.mk means crouching medium kick. Down on your stick then kick</li>
        <li>When reading combos, there are 3 main types of combo structure, and sometimes they combine with each other</li>
        <li>mp c.mk : a button followed by another button refers to a link, once one button hits you wait for your recovery, then press the next button</li>
        <li>lp-mp-hp : dashes between the buttons means a chain. Several characters have chain combos, the tempo of how you press buttons matters very little, you just have to press the buttons in order</li>
        <li>mp xx qcf + p : double xx stands for a cancel. Many buttons can be cancelled into a special move. This means you do not wait for the recovery of the button. You input the motion of the special move and hit the button at the same time that the button is making contact with the opponent, canceling the recovery of the button into the special move</li>
    </ul>
    
</body>
</html>